<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.core.member.mapper.MemberMapper" >
  <resultMap id="BaseResultMap" type="cn.com.core.member.entity.Member" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="storeId" property="storeId" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="points" property="points" jdbcType="INTEGER" />
    <result column="flightCount" property="flightCount" jdbcType="INTEGER" />
    <result column="lastVisitedTime" property="lastVisitedTime" jdbcType="DATE" />
    <result column="flightTime" property="flightTime" jdbcType="INTEGER" />
    <result column="consumptionSum" property="consumptionSum" jdbcType="REAL" />
    <result column="balance" property="balance" jdbcType="REAL" />
    <result column="createTime" property="createTime" jdbcType="DATE" />
    <result column="updateTime" property="updateTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, username, email, sex, birthday, telephone, storeId, level, points, flightCount, 
    lastVisitedTime, flightTime, consumptionSum, balance, createTime, updateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.core.member.entity.MemberExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from hy_memeber
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from hy_memeber
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from hy_memeber
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.core.member.entity.MemberExample" >
    delete from hy_memeber
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.core.member.entity.Member" >
    insert into hy_memeber (id, username, email, 
      sex, birthday, telephone, 
      storeId, level, points, 
      flightCount, lastVisitedTime, flightTime, 
      consumptionSum, balance, createTime, 
      updateTime)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{telephone,jdbcType=VARCHAR}, 
      #{storeId,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{points,jdbcType=INTEGER}, 
      #{flightCount,jdbcType=INTEGER}, #{lastVisitedTime,jdbcType=DATE}, #{flightTime,jdbcType=INTEGER}, 
      #{consumptionSum,jdbcType=REAL}, #{balance,jdbcType=REAL}, #{createTime,jdbcType=DATE}, 
      #{updateTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.core.member.entity.Member" >
    insert into hy_memeber
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="storeId != null" >
        storeId,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="points != null" >
        points,
      </if>
      <if test="flightCount != null" >
        flightCount,
      </if>
      <if test="lastVisitedTime != null" >
        lastVisitedTime,
      </if>
      <if test="flightTime != null" >
        flightTime,
      </if>
      <if test="consumptionSum != null" >
        consumptionSum,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="points != null" >
        #{points,jdbcType=INTEGER},
      </if>
      <if test="flightCount != null" >
        #{flightCount,jdbcType=INTEGER},
      </if>
      <if test="lastVisitedTime != null" >
        #{lastVisitedTime,jdbcType=DATE},
      </if>
      <if test="flightTime != null" >
        #{flightTime,jdbcType=INTEGER},
      </if>
      <if test="consumptionSum != null" >
        #{consumptionSum,jdbcType=REAL},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.core.member.entity.MemberExample" resultType="java.lang.Integer" >
    select count(*) from hy_memeber
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hy_memeber
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=DATE},
      </if>
      <if test="record.telephone != null" >
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.storeId != null" >
        storeId = #{record.storeId,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=VARCHAR},
      </if>
      <if test="record.points != null" >
        points = #{record.points,jdbcType=INTEGER},
      </if>
      <if test="record.flightCount != null" >
        flightCount = #{record.flightCount,jdbcType=INTEGER},
      </if>
      <if test="record.lastVisitedTime != null" >
        lastVisitedTime = #{record.lastVisitedTime,jdbcType=DATE},
      </if>
      <if test="record.flightTime != null" >
        flightTime = #{record.flightTime,jdbcType=INTEGER},
      </if>
      <if test="record.consumptionSum != null" >
        consumptionSum = #{record.consumptionSum,jdbcType=REAL},
      </if>
      <if test="record.balance != null" >
        balance = #{record.balance,jdbcType=REAL},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.updateTime != null" >
        updateTime = #{record.updateTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hy_memeber
    set id = #{record.id,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=DATE},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      storeId = #{record.storeId,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=VARCHAR},
      points = #{record.points,jdbcType=INTEGER},
      flightCount = #{record.flightCount,jdbcType=INTEGER},
      lastVisitedTime = #{record.lastVisitedTime,jdbcType=DATE},
      flightTime = #{record.flightTime,jdbcType=INTEGER},
      consumptionSum = #{record.consumptionSum,jdbcType=REAL},
      balance = #{record.balance,jdbcType=REAL},
      createTime = #{record.createTime,jdbcType=DATE},
      updateTime = #{record.updateTime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.core.member.entity.Member" >
    update hy_memeber
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        storeId = #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="points != null" >
        points = #{points,jdbcType=INTEGER},
      </if>
      <if test="flightCount != null" >
        flightCount = #{flightCount,jdbcType=INTEGER},
      </if>
      <if test="lastVisitedTime != null" >
        lastVisitedTime = #{lastVisitedTime,jdbcType=DATE},
      </if>
      <if test="flightTime != null" >
        flightTime = #{flightTime,jdbcType=INTEGER},
      </if>
      <if test="consumptionSum != null" >
        consumptionSum = #{consumptionSum,jdbcType=REAL},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.core.member.entity.Member" >
    update hy_memeber
    set username = #{username,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      telephone = #{telephone,jdbcType=VARCHAR},
      storeId = #{storeId,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      points = #{points,jdbcType=INTEGER},
      flightCount = #{flightCount,jdbcType=INTEGER},
      lastVisitedTime = #{lastVisitedTime,jdbcType=DATE},
      flightTime = #{flightTime,jdbcType=INTEGER},
      consumptionSum = #{consumptionSum,jdbcType=REAL},
      balance = #{balance,jdbcType=REAL},
      createTime = #{createTime,jdbcType=DATE},
      updateTime = #{updateTime,jdbcType=DATE}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>